<ul class="nav nav-tabs nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#">精选推荐</a></li>
	<li role="presentation"><a href="#">WOW好评</a></li>
	<li role="presentation"><a href="#">名家作品</a></li>
	<li role="presentation"><a href="#">热度作品</a></li>
	<li role="presentation"><a href="#">最新作品</a></li>
</ul>
<!-- /.row -->
<div id="masonry">
<% @photos.each_with_index do |photo, index| %>
<div class="item img-portfolio">
	<div class="he-wrap tpl3">
		<%= image_tag( photo.pic.url('190x190'), class: 'img-hover img-rounded')%>
		<div class="he-view">
			<div class="info-bottom a0" data-animate="fadeInUp">
				<p><%= link_to photo.name, photo, title: photo.name%></p>
				<a href="<%= profile_path(photo.user) %>"><%= user_avatar_tag(photo.user, style: :small, image_options: {class: 'img-circle'}) %><small><%= photo.user.username %></small></a>
			</div>
		</div>
	</div>
</div>
<% end %>
</div>
<div style="display:none">
<%= will_paginate @photos %>
</div>

