<div class="row profile">
	<div class="col-md-3">
		<div class="user_desc">
			<%= user_avatar_tag(current_user, style: :small, image_options: {class: 'img-rounded'}) %>
			<span><%= current_user.username %></span>
		</div>
	</div>
</div>
<hr />
<div class="row photos_wall">
	<div class="row"><%= link_to '添加照片', new_photo_path %></div>
    <% @photos.each_with_index do |photo, index| %>
			<% if index+1%4 == 0 %>
				<div class="row">
			<% end %>
			<div class="col-md-3 img-portfolio">
				<%=link_to image_tag( photo.pic.url(''), class: 'img-responsive img-hover img-rounded'), photo %>
        <%= link_to 'Show', photo %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
			<% if index+1%4 == 0 %>
				</div>
			<% end %>
    <% end %>
</div>
<hr />
<div class="row services_wall">
	<div class="row"><%= link_to '添加产品', new_product_path %></div>
    <% @products.each_with_index do |product, index| %>
			<% if index+1%4 == 0 %>
				<div class="row">
			<% end %>
			<div class="col-md-3 img-portfolio">
				<%=link_to image_tag( product.images.first.img.url(''), class: 'img-responsive img-hover img-rounded'), product %>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
			<% if index+1%4 == 0 %>
				</div>
			<% end %>
    <% end %>

</div>
