<div class="row profile">
	<div class="col-md-3">
		<div class="user_desc">
			<%= user_avatar_tag(@user, style: :small, image_options: {class: 'img-rounded'}) %>
			<span><%= @user.username %></span>
		</div>
	</div>
</div>
<h3>作品</h3>
<hr />
<div class="row wall">
    <% @photos.each_with_index do |photo, index| %>
			<div class="item" style="float:left;margin-left:10px">
				<%=link_to image_tag( photo.pic.url('190x190'), class: 'img-responsive img-hover img-rounded'), photo %>
			</div>
    <% end %>
</div>
<h3>服务</h3>
<hr />
<div class="row wall">
    <% @products.each_with_index do |product, index| %>
			<div class="item">
				<%=link_to image_tag(product.images.first.img.url('190x190'), class: 'img-responsive img-hover img-rounded'), product %>
			</div>
    <% end %>
</div>
