<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h2>
    <hr/>
		<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: (method: :post, class: "form-inline"}) do |f| %>
        <%= devise_error_messages! %>

				<%= f.input :email %>

        <%= f.submit t('.resend_confirmation_instructions', default 'Resend confirmation instructions'), class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>
<%= render "devise/shared/links" %>
