<h1>首页slide推荐设置</h1>
<table>
	<thead>
		<tr>
			<th>Pic</th>
			<th>Name</th>
			<th>Description</th>
			<th>Location</th>
			<th>Shoot time</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @photos.each do |photo| %>
	<tr>
		<td><%= image_tag photo.pic.url('90x90') %></td>
		<td><%= photo.name %></td>
		<td><%= photo.description %></td>
		<td><%= photo.location %></td>
		<td><%= photo.shoot_time %></td>
		<td><%= link_to '设置推荐', add_slide_path(photo), method: :post %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @photos %>
<h2>slide推荐列表</h2>
<table>
	<thead>
		<tr>
			<th>Pic</th>
			<th>Name</th>
			<th>Description</th>
			<th>Location</th>
			<th>Shoot time</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @slides.each do |slide| %>
	<tr>
		<td><%= image_tag slide.photo.pic.url('90x90') %></td>
		<td><%= slide.photo.name %></td>
		<td><%= slide.photo.description %></td>
		<td><%= slide.photo.location %></td>
		<td><%= slide.photo.shoot_time %></td>
		<td><%= link_to '删除', slide, method: :delete, data: { confirm: '确定删除吗?' } %></td>
	</tr>
	<% end %>
	</tbody>
</table>
