<div class="row">
<div class="well col-md-6 col-md-offset-3">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, enctype:  "multipart/form-data"}) do |f| %>
		<!-- <h2><%= t('.title', :resource => resource_class.model_name.human, :default => "Edit #{resource_name.to_s.humanize}") %></h2> -->
		<h2>头像设置</h2>
		<hr />
        <div class="form-group"><%= f.label '头像' %>
					<%= user_avatar_tag(current_user, style: :normal) %>
          <%= f.file_field :avatar, class: 'form-control' %></div>

		<h2>个人资料设置</h2>
    <hr/>
        <%= devise_error_messages! if params[:by].blank? %>

				<% unless current_user.type_choiced? %>
        <div class="form-group">
					<%= f.radio_button :user_type, '1'  %> <%= f.label :user_type, "爱秀" %>
				  <%= f.radio_button :user_type, '2' %> <%= f.label :user_type,  "爱摄" %>
				</div>
				<% end %>

				<%= show_user_type(current_user) %>
				
        <div class="form-group"><%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %></div>

        <div class="form-group"><%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %></div>

        <div class="form-group"><%= f.label :tel %>
          <%= f.text_field :tel, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :city_id %>
					<% unless resource.city.nil? %>
					<div><%=resource.city.name %></div>
					<% end %>
					<%= f.region_select [:province, :city_id], {province_prompt: '请选择省', city_prompt: '请选择市'}, class: 'form-control' %>
				</div>
        <div class="form-group"><%= f.label :copyright %>
          <%= f.text_field :copyright, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :birthday%>
          <%= f.text_field :birthday, id: 'dt_birthday', class: 'form-control' %></div>
        <div class="form-group"><%= f.label :blood %>
          <%= f.text_field :blood, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :shoot_start_date %>
          <%= f.text_field :shoot_start_date, id: 'dt_shoot', class: 'form-control' %></div>
        <div class="form-group"><%= f.label :equipment%>
          <%= f.text_field :equipment, class: 'form-control' %></div>

        <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
            <p>
              <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}") %>
            </p>
        <%- end -%>

				<h2>联系方式</h2>
				<hr />
        <div class="form-group"><%= f.label :qq%>
          <%= f.text_field :qq, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :wangwang %>
          <%= f.text_field :wangwang, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :website %>
          <%= f.text_field :website, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :weibo_name%>
          <%= f.text_field :weibo_name, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :weibo_url %>
          <%= f.text_field :weibo_url, class: 'form-control' %></div>
        <div class="form-group"><%= f.label :weixin %>
          <%= f.text_field :weixin, class: 'form-control' %></div>


        <div class="row">
          <span class="col-md-2"><%= f.submit t('.update', :default => "更新") , class: 'btn btn-primary'%></span>
          <span class="col-md-10"><%= link_to t('devise.shared.links.back', :default => "Back"), :back, class: 'btn btn-default' %></span>
        </div>
    <% end %>
  </div>
</div>
