<%= render 'profile_update' %>
<div style="margin-top:15px">
	
</div>
<div class="row">
	<div class="well col-md-6 col-md-offset-3">
		<h2>修改密码</h2>
		<hr />
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name, by: :pwd), html: {method: :put}) do |f| %>
        <%= devise_error_messages! if params[:by] == 'pwd' %>

        <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
            <p>
              <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email, default: "Currently waiting confirmation for: %{email}") %>
            </p>
        <%- end -%>

        <div class="form-group"><%= f.label :password %>
          <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it") %>
            )</i>
          <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %></div>

        <div class="form-group"><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %></div>

        <div class="form-group"><%= f.label :current_password %>
          <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', default:  'we need your current password to confirm your changes') %>
            )</i>
          <%= f.password_field :current_password, class: 'form-control' %></div>

        <div class="row">
          <span class="col-md-2"><%= f.submit '修改密码' , class: 'btn btn-primary'%></span>
        </div>
    <% end %>
	</div>
</div>
