<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.sign_up', :default => "Sign up") %></h2>
    <hr/>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group"><%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: "注册邮箱" %></div>

        <div class="form-group"><%= f.label :username %>
          <%= f.text_field :username, class: 'form-control', placeholder: "用户名" %></div>

        <div class="form-group"><%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %></div>

        <div class="form-group"><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %></div>

        <div class="form-group">
          <%= f.label '验证码' %>
          <%= text_field_tag :captcha, '', class: 'form-control' %><%= captcha_tag %>
					<a id="captcha_reload" href="javascript:void(0)">看不清？点击刷新</a></div>

        <div class="form-group"><%= f.submit t('.sign_up', :default => "Sign up"), class: 'form-control btn btn-success' %></div>
    <% end %>

  </div>
</div>
<%= render "devise/shared/links" %>
