<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.change_your_password', :default => 'Change your password') %></h2>
    <hr/>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group"><%= f.label :password, t('.new_password', :default => 'New password') %>
          <%= f.password_field :password, class: 'form-control' %></div>

        <div class="form-group"><%= f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password') %>
          <%= f.password_field :password_confirmation, class: 'form-control' %></div>

        <div class="form-group"><%= f.submit t('.change_my_password', :default => 'Change my password'), class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
