<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h2>
    <hr/>
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, class: "form-inline"}) do |f| %>
        <%= devise_error_messages! %>

				<%= f.input :email %>

        <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
