<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.sign_in', :default => "Sign in") %></h2>
    <hr/>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

				<%= f.input :login, label: '登录用户', placeholder: '昵称或邮箱'%>

				<%= f.input :password %>

        <div class="form-group">
          <%= f.label '验证码' %>
          <%= text_field_tag :captcha, '', class: 'form-control' %><%= captcha_tag %>
          <a id="captcha_reload" href="javascript:void(0)">看不清？点击刷新</a></div>

        <% if devise_mapping.rememberable? -%>
            <div class="form-group"><%= f.check_box :remember_me%> <%= f.label :remember_me %></div>
        <% end -%>

        <div class="form-group"><%= f.submit t('.sign_in', :default => "Sign in"), class: 'form-control btn btn-primary' %></div>
    <% end %>

  </div>
</div>
<%= render "devise/shared/links" %>
