<%= simple_form_for(@photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<% unless request.fullpath.include? 'edit'%>
    <%= f.input :pic, as: :file %>
		<% end %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :location %>
		<%= f.input :shoot_time, as: :string, input_html: {id: 'dt_shoot_time'}%>
		<%= f.association :categories, collection: Category.all, input_html: {class: 'chosen-select'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
