<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Pic</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th>Shoot time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.pic %></td>
        <td><%= photo.name %></td>
        <td><%= photo.description %></td>
        <td><%= photo.price %></td>
        <td><%= photo.location %></td>
        <td><%= photo.shoot_time %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
	<%= will_paginate %>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
