<p id="notice"><%= notice %></p>

<p>
  <strong>Pic:</strong>
  <%= @photo.pic %>
</p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @photo.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<p>
  <strong>Shoot time:</strong>
  <%= @photo.shoot_time %>
</p>
<p>
  <strong>Categories:</strong>
	<% @photo.categories.each do |category| %>
  <%= category.name %>
	<% end %>
</p>
<p>
	<span id="like"><%= @photo.praise || 0 %></span>
	<%= link_to "like", like_photo_path(@photo), method: :post, remote: true %>
</p>
<p>
<%= simple_form_for PhotoComment.new, remote: true, url: photo_comments_path(@photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</p>

<ul id="comments">
<%= render partial: 'comment', collection: @comments%>
</ul>

<%= will_paginate @comments %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
