@import "bootstrap-sprockets";
@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
	height: 100%;
}

body {
	//padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
	margin-bottom: 30px;
}

.img-hover:hover {
	opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
	height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
	height: 100%;
}

header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

/* 404 Page Styles */

.error-404 {
	font-size: 100px;
}

/* Pricing Page Styles */

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}

.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}

.period {
	display: block;
	font-style: italic;
}

/* Footer Styles */

footer {
	margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
	.customer-img,
	.img-related {
		margin-bottom: 30px;
	}
}

@media(max-width:767px) {
	.img-portfolio {
		margin-bottom: 15px;
	}

	header.carousel .carousel {
		height: 70%;
	}
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.alert-notice  {
	@extend .alert-info
}

.alert-alert  {
	@extend .alert-warning
}

.alert-error {
	@extend .alert-danger
}

#masonry {
	margin: 0 auto;
}

#masonry .item {
	width: 190px;
	margin: 5px;
	float: left;
	//@include box-shadow(0, 6px, 12px, rgba(0, 0, 0, 0.9));
}	

.logo {
	width: 150px;
	height: 50px;
	border: 0px;
}
