<%= simple_nested_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
		<%= f.fields_for :images do |image_form| %>
			<% if request.fullpath.include? 'edit' %>
			<%= image_tag image_form.object.img.url('') %>
			<%= image_form.input :img, as: :file %>
			<% else %>
			<%= image_form.input :img, as: :file %>
			<% end %>
			<%= image_form.link_to_remove "-" %>
		<% end %>
		<p><%= f.link_to_add "+", :images %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
