<h1>Product</h1>
<div class="container">
	<p>Name:<%= @product.name %></p>
	<p>Description:<%= @product.description %></p>
	<p>price:<%= @product.price %></p>
	<%= render partial: 'image', collection: @product.images %>
</div>
