<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
		<% @slides.each_with_index do |slide, index| %>
    <li data-target="#myCarousel" data-slide-to="<%= index %>" <% if index == 0 %>class="active"><% end %></li>
		<% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
		<% @slides.each_with_index do |slide, index| %>
    <div class="item<% if index == 0 %> active<% end %>">
			<a href="<%= photo_path(slide.photo) %>"><div class="fill" style="background-image:url('<%= slide.photo.pic.url('') %>');"></div></a>
      <div class="carousel-caption">
        <h2><%= link_to slide.photo.name, photo_path(slide.photo) %></h2>
      </div>
    </div>
		<% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>
