<nav class="navbar navbar-static-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to raw('<img src="/assets/logo.jpg" class="logo" />'), root_path %>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
				<%= link_to raw('<span class="glyphicon glyphicon-home"></span> 首页'), root_path %>
				</li>
				<li>
				<%= link_to raw('<span class="glyphicon glyphicon-user"></span> 关于我们'), root_path %>
				</li>
				<li>
				<%= link_to raw('<span class="glyphicon glyphicon-envelope"></span> 联系我们'), root_path %>
				</li>
				<% if current_user %>
					<% if current_user.is_admin? %>
					<li>
					<%= link_to '后台管理', admin_index_path %>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user_avatar_tag(current_user, style: :small, image_options: {class: 'img-circle'}) %> <%=current_user.email %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to '个人中心', profiles_url %></li>
							<li><%= link_to '资料设置', edit_user_registration_path%></li>
							<li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
					</li>
					<% else %>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user_avatar_tag(current_user, style: :tiny, image_options: {class: 'img-rounded'}) %> <%=current_user.email %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to '管理', profile_index_path %></li>
							<li><%= link_to '个人资料设置', edit_user_registration_path%></li>
							<li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
					<% end %>
				<% else %>
					<li><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> 注册'), new_user_registration_path %></li>
					<li><%= link_to raw('<span class="glyphicon glyphicon-log-in"></span> 登录'), new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
