<!DOCTYPE html>
<html>
<head>
  <title><%= fulltitle(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
</head>
<body>

<!-- Navigation -->
<%= render 'layouts/nav' %>

<!-- Page Content -->
<div class="container">
	<%= render 'shared/message' %>
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked" role="tablist">
	 			<li role="presentation" class="active"><%= link_to 'Slide管理', slides_url %></li>
	   		<li role="presentation"><a href="#">Profile</a></li>
		   	<li role="presentation"><a href="#">Messages</a></li>
			</ul>
		</div>
		<div class="col-md-9">
	    <%= yield %>
		</div>
	</div>
	<hr>
	<!-- Footer -->
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</div>
<!-- /.container -->

</body>
</html>
