<!DOCTYPE html>
<html>
<head>
  <title><%= fulltitle(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
</head>
<body>

<!-- Navigation -->
<%= render 'layouts/nav' %>
<% if request.fullpath == '/' %>
<!-- Header Carousel -->
<%= render 'layouts/carousel' %>
<% end %>

<!-- Page Content -->
<div class="container">
	<%= render 'shared/message' %>
	<%= yield %>
	<hr>
	<!-- Footer -->
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
interval: 5000 //changes the speed
})
</script>
</body>
</html>
